// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: aliceblue;
  text-align: center;
}

button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 10px 20px;
  font-size: 15px;
  font-family: "Bitter",serif;
  line-height: 1.8;
  appearance: none;
}
