// * {
//     box-sizing: border-box;
// }
//
// html {
//     font-size: 62.5%;
// }
//
//
//
// body {
//     font-size: 30px;
//     font-family: Arial, sans-serif;
//     background: #222;
// }
//
// p {
//     background: #fff;
//     border-radius: 10px;
//     padding: 10px 5px;
// }
//
// #keyboard {
//     width: 100%;
//     overflow: hidden;
//
// }
// .key {
//     border: 1px solid #ccc;
//     background: #fff;
//     border-radius: 10%;
//     margin: 0 0.5%;
//     width: 9%;
//     padding: 35px 0;
//     text-align: center;
//     float: left;
//     text-transform: uppercase;
//     transition: margin 150ms ease-in-out;
//     font-weight: bold;
// }
//
// .key span {
//     font-size: 20px;
//     display: inline-block;
//     padding: 10px;
//     margin-top: 10px;
//     background: #ccc;
//     border-radius: 0.4rem;
// }
//
// .playing {
//     background: #ddd;
//     margin-top: 20px;
// }
// .button{
//   text-align: center;
//   padding-top: 50px;
// }
//

 ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10px;
  line-height: 18px;

}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
#playSong {
  display: none;
}
#recordEnd {
  display: none;
}

#saveSong:hover {
 background: lemonchiffon;
}
